/* TODO: make this responsive */
.navbar {
  min-width: 200px;
  /*max-width: 23%;*/
  margin-left: 14px;
  padding: 22px 32px 22px 32px;
  text-align: left;
  background-color: #050510F9;
  /* debug */
  border: 1px solid #b200ff;
  will-change: contents;
  height: calc(100% - 46px);
}

@media only screen and (max-width: 640px) {
  .navbar {
    overflow-x: scroll;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
    height: 100%;
  }
}
