/*
 * Project Datajack specific CSS
 *
*/

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300;500&family=Kodchasan&family=Share+Tech+Mono&display=swap');

/*
 * A better looking default horizontal rule
 */

 hr {
  border: 0;
  height: 2px;
  margin:18px 0;
  position:relative;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 10%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,0.65) 50%, rgba(255,255,255,0.3) 80%, rgba(255,255,255,0) 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0.65)), color-stop(80%,rgba(255,255,255,0.3)), color-stop(90%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 10%,rgba(255,255,255,0.3) 20%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0.3) 80%,rgba(255,255,255,0) 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 10%,rgba(255,255,255,0.3) 20%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0.3) 80%,rgba(255,255,255,0) 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 10%,rgba(255,255,255,0.3) 20%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0.3) 80%,rgba(255,255,255,0) 90%); /* IE10+ */
  background: linear-gradient(left, rgba(255,255,255,0) 10%,rgba(255,255,255,0.3) 20%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0.3) 80%,rgba(255,255,255,0) 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}


hr:before {
  display: block;
  border-top: solid 1px #f9f9f9;
  width: 90%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

/* These are used for persona login buttons */
.grid-items {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}
.grid-items > div {
  padding: 0;
}

@media only screen and (min-width: 640px) {
  .grid-items {
    grid-template-columns: 20% 20% 20% 20%;
  }
  .grid-items > div {
    padding: 0;
  }
}


body {
  font-family: 'KoHo', sans-serif;
  color: #e0e0f0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kodchasan', sans-serif;
}

h6 {
  /* intentional to match th, td */
  padding-left: 16px;
  margin-top: 6px;
}

a {
  color: #7070b0;
}

a:active {
  color: #9090f0;
}

a:visited {
  color: #6060a0;
}

th, td {
  padding:12px;
}

.titlebar {
  font-family: 'Share Tech Mono', monospace;
  margin: auto;
  vertical-align: middle;
  /* debug */
  border: 0px solid green;
}

/* TODO: make this responsive */
.sidebar {
  float: left;
  min-width: 200px;
  max-width: 23%;
  margin-top: 36px;
  padding-right: 0.5%;
  padding-left: 32px;
  text-align: left;
  /* debug */
  border: 0px solid blue;
}

.main {
  font-family: 'KoHo', sans-serif;
  text-align: left;
  margin: 0vh 0px 0px 25%;
  width: auto;
  max-width: 1200px;
  padding: 32px;
  /* debug */
  border: 0px solid slategray;
}


.background {
  z-index: -1;
  position: fixed;
  width: 100%;
  height:  100%;
  mix-blend-mode: difference;
  background-image: url('../img/grey.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(100%);
}

.wrapper {
  z-index: 1;
  text-align: center;
  margin: auto;
  width: auto;
  max-width: 1600px;
  overflow-x: hidden;
}

.sidebar-menu {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.persona-controls-wrapper {
  position:fixed;
  right:0;
  top:20px;
  padding:8px;
  background-color: rgb(223, 223, 0);
  filter: drop-shadow(10px 5px 2px #222);
}

.persona-controls {
  color: #333;
  width:100%;
  height:100%;
}

.persona-status {
  text-align: left;
  margin-left: 4px;
  margin-bottom: 12px;
}

.persona-buttons {
  display: flex;
}

.button1 {
  padding: 2px 8px 2px 8px;
  outline: 2px dashed #888;
  text-transform: uppercase;
  border: 0;
  transition: background-color 1.5s, color 1.5s;
  cursor: pointer;
  border-radius: 1px;
}

.button1:hover {
  background-color: #444;
  color: #bbb;

}

.button1-mask {
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgba(127, 127, 127, 0);
  margin: 0 6px 0 6px;
  border-radius: 1px;
  transition: outline-color 1s ease-out;
}

.button1-mask:hover {
  outline-color: rgba(127, 127, 127, 1);;
}


.title-text {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 25%;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3rem;
  font-weight: bolder;
}

.footer {
  margin:20px;
}

.license {
  width: 20%;
  word-wrap: break-word;
  text-align: left;
}

.author-stats {
  margin-top: 50px;
  text-align: center;
}

.author-line {
  margin-top: 1px;
  margin-bottom: 0;
}

.page-stats {
  margin-top: 36px;
}

.page-stat-line {
  text-align:  right;
  margin-top: 4px;
  margin-bottom: 7px;
  font-size: .7rem;
}

.stat-offset {
  padding-right: 6px;
}
