/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@500&family=Kodchasan&family=Share+Tech+Mono&display=swap');
@font-face {
  font-family: 'saved_by_zero_rg';
  src: url('./assets/font/saved_by_zero_rg-webfont.woff2') format('woff2'),
       url('./assets/font/saved_by_zero_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/*
 * A better looking default horizontal rule
 */

 hr {
  border: 0;
  height: 2px;
  margin:22px 0;
  position:relative;
  background: -moz-linear-gradient(left, rgba(178,0,255,0) 10%, rgba(178,0,255,0.3) 20%, rgba(178,0,255,0.65) 50%, rgba(178,0,255,0.3) 80%, rgba(178,0,255,0) 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(178,0,255,0)), color-stop(20%,rgba(178,0,255,0.3)), color-stop(50%,rgba(178,0,255,0.65)), color-stop(80%,rgba(178,0,255,0.3)), color-stop(90%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(178,0,255,0) 10%,rgba(178,0,255,0.3) 20%,rgba(178,0,255,0.65) 50%,rgba(178,0,255,0.3) 80%,rgba(178,0,255,0) 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(178,0,255,0) 10%,rgba(178,0,255,0.3) 20%,rgba(178,0,255,0.65) 50%,rgba(178,0,255,0.3) 80%,rgba(178,0,255,0) 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(178,0,255,0) 10%,rgba(178,0,255,0.3) 20%,rgba(178,0,255,0.65) 50%,rgba(178,0,255,0.3) 80%,rgba(178,0,255,0) 90%); /* IE10+ */
  background: linear-gradient(to right, rgba(178,0,255,0) 10%,rgba(178,0,255,0.3) 20%,rgba(178,0,255,0.65) 50%,rgba(178,0,255,0.3) 80%,rgba(178,0,255,0) 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

hr:before {
  display: block;
  border-top: solid 1px #f9f9f9;
  width: 90%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

ul {
  list-style: none;
}

ul li {
  text-indent: -3ch;
  line-height: 1.5em;
}

ul li:before {
  content: "☢️";
  color: hotpink;
  padding-right: 5px;
}

/* These are used for persona login buttons */
.grid-items {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}
.grid-items > div {
  padding: 0;
}

@media only screen and (min-width: 640px) {
  .grid-items {
    grid-template-columns: 20% 20% 20% 20%;
  }
  .grid-items > div {
    padding: 0;
  }
}

html {
  background-color: #b6b6b400;
  opacity: 1;
}

body {
  font-family: 'KoHo', sans-serif;
  color: #e0e0f0;
  background-color: #000000;
}

p {
  line-height: 1.6em;
}

h1, h2, h3 {
  font-family: saved_by_zero_rg;
  letter-spacing: 2px;
  color: #b200ff;
}

h4, h5, h6 {
  font-family: 'Kodchasan', sans-serif;
}

h6 {
  /* intentional to match th, td */
  padding-left: 16px;
  margin-top: 6px;
}

a {
  color: #7070d0;
}

a:active {
  color: #9090ff;
}

a:visited {
  color: #6060b0;
}

th, td {
  padding: 4px 12px 4px 12px;
}

/* this needs to load super early to take effect for some reason.  It is a sidebar
   for game data, like a table or flavor text or whatever.                            */
.sidebar {
  border: 1px solid #b200ff;
  color: #39ff14;
  float: right;
  padding:10px;
  margin:16px;
  background-color: rgba(0,0,0,.5);
  max-width: 300px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

code {
  color: rgb(54, 90, 90);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #b200ff;
}


::-webkit-scrollbar-track-piece:start {
  background: transparent url('assets/img/scrollbar.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url('assets/img/scrollbar.png') repeat-y !important;
}

.block-wrapper {
  display: block;
  margin:4px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
