
<body>
  <div class="background">
  </div>
  <div class="wrapper" (onclick)="exitNavbar($event)">
  <app-title>  </app-title>

    <div class="content-wrapper" (onclick)="exitNavbar($event)">
      <div class="mobile-menu mobile-only">
        <div class="sidebar-toggle" id="toggle-sidebar" (click)="toggleNavbar()">
          <h4 id="toggle-sidebar-label" >Show Sidebar</h4>
        </div>
      </div>
      <div class="sidebar-wrapper toggle-sidebar" id="sidebar-wrapper">
        <app-sidebar></app-sidebar>
      </div>
      <div class='main'>
        <app-content></app-content>
      </div>
    </div>
  <app-footer></app-footer>
  </div>
</body>
